@inherits LayoutComponentBase

<nav class="navbar navbar-dark navbar-expand bg-dark mb-4 px-0 shadow-sm">
    <div class="container px-3">
        <NavLink class="navbar-brand" href="">Stand Up Core</NavLink>

        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Stand Up</NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="credentials" Match="NavLinkMatch.All">Credentials</NavLink>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    @Body
</main>

<footer class="container mt-5 mb-3 text-center text-muted">
    <hr />
    Stand Up Core 1.2.4 running with Blazor WebAssembly 3.0.0-preview9.19465.2
</footer>
