@inherits LayoutComponentBase
@inject ConfigurationService ConfigService

@code {
    string AppVersion { get; set; }
    string BlazorVersion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppVersion = await ConfigService.GetValueAsync("AppVersion");
        BlazorVersion = await ConfigService.GetValueAsync("BlazorVersion");

        this.StateHasChanged();
    }
}

<nav class="navbar navbar-dark navbar-expand bg-dark mb-4 px-0 shadow-sm">
    <div class="container px-3">
        <NavLink class="navbar-brand" href="">Stand Up Core</NavLink>

        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Stand Up</NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="credentials" Match="NavLinkMatch.All">Credentials</NavLink>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    @Body
</main>

<footer class="container mt-5 mb-3 text-center text-muted">
    <hr />
    Stand Up Core @AppVersion running with Blazor WebAssembly @BlazorVersion
</footer>
