@inherits LayoutComponentBase

<NavMenu></NavMenu>

<main class="container">
    @Body
</main>

<footer class="container mt-5 mb-3 text-center text-muted">
    <hr />
    Stand Up Core @AppVersion running with Blazor WebAssembly @BlazorVersion
</footer>
